<header>
    <h1>
        Mocking products
    </h1>
</header>

{{#if products.length}}
    <div class="product-cards">
        {{#each products}}
        <div class="product-card">
            <h4>TITLE: {{title}}</h4>
            <p>DESCRIPTION: {{description}}</p>
            <p>PRICE: ${{price}}</p>
            <img src="{{thumbail}}" alt="{{title}}">      
            <button class="boton"><a href="/api/views/products/{{_id}}">VER MAS</a></button>

        </div>
        {{/each}}
    </div>

    {{!-- <div id="pagination">
        {{#if prevPage}}      
                <button class="boton"><a id="pagination_button" href="/home/?limit={{limit}}&page={{prevPage}}">Prev Page</a></button>
        {{/if}}    
        <p id="pagination_number">Page {{pages}}</p>
        {{#if nextPage}}
                <button class="boton"><a id="pagination_button" href="/home/?limit={{limit}}&page={{nextPage}}">Next Page</a></button>
        {{/if}}    
    </div> --}}
    {{!-- <div class="pagination">
        <button class="boton" id="prev-page" {{#if prevPage}}data-page="{{prevPage}}"{{/if}}>Previous Page</button>
        <button class="boton" id="next-page" {{#if nextPage}}data-page="{{nextPage}}"{{/if}}>Next Page</button>
    </div> --}}
{{else}}
    <p>No products available.</p>
{{/if}} 
{{!-- <script src="/functions.js"></script> --}}